<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	h1 Enter your sentence 
	form(method="POST", action="/")
		input(type="text", name="slang")

		input(type="Submit")
	h1 #{output}